<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <base href="/">
    <title>updateArtist</title>
  </head>
  <body>
      <table>
          <tr><a href="/" >Anasayfa</a></tr>
          <br>
           <tr>
            <a href="listArtist">Sanatçıları Listele</a>
            <br>
            <a href="addArtist">Sanatçı Ekle</a>
          </tr>
          <tr>
              <br>
            <a href="listAlbum">Albümleri Listele</a>
            <br>
            <a href="addAlbum">Albüm Ekle</a>  
          </tr> 
          <br>
          <tr>
            <a href="listMusicType">Müzik Türleri Listele</a>
            <br>
            <a href="addMusicType">Müzik Türü Ekle</a>
          </tr>
        </table> 
    <div class="container">
      <nav>
          <li><a href="listArtist">Sanatçılar</a></li>
      </nav>
        <form method="post" action="updateArtist/<%=artist[0].ArtistId%>">
          <table align="center">
            <tr>
              <td>Sanatçı Adı:</td>
              <td><input required value="<%=artist[0].ArtistName%>" type="text" name="artistName" class="input"></td>
            </tr>
            <%
              var checked0='';
              var checked1='';
              if(artist[0].DoTheArtistLive==0){checked0='checked';}
              else{checked1='checked';}
            %>
            <tr>
              <td>Sanatçı Yaşıyor mu:</td>
              <td><input required type="radio" name="doTheArtistLive" value="1" <%=checked1%> > Evet <input required <%=checked0%> type="radio" name="doTheArtistLive" value="0"> Hayır</td>
            </tr>
            <tr>
              <td>Sanatçı Doğum Tarihi:</td>
              <td><input required value="<%=artist[0].artistBirthDate%>" type="date" class="input" name="artistBirthDate"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="updateArtist"></td>
            </tr>
        </table>
      </form>
    </div>
  </body>
</html>